worker_processes  2;

events {
    worker_connections  1024;
}

http {
    include       mime.types;

    server {
        listen       80;
        server_name  127.0.0.1;


        location ~ /v1 {
            proxy_pass 'http://localhost:8080';
        }

        location ^~ /regexp {
            proxy_pass 'http://localhost:4200/regexp';
        }

        location ^~ /login {
            proxy_pass 'http://localhost:3000';
        }

        location ^~ /sign-up {
            proxy_pass 'http://localhost:3000';
        }

        location ^~ /landing {
            proxy_pass 'http://localhost:3000';
        }

        location ~ / {
            return 307 /landing;
        }


    }
}
