<main class="paddingBottom" authorities="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-8">{{task?.name}}</h1>
      <p>{{task?.description}}</p>
      <form class="form-inline form-control regExpForm" (ngSubmit)="onSubmit()">
        <label for="inputRegExp" class="sr-only">Введите регулярное выражение</label>
        <input type="text"
               id="inputRegExp"
               [(ngModel)]="regExp"
               name="regExp"
               class="form-control-plaintext col-8 regExpInput"
               placeholder="Ответ"
               required="">

        <button class="btn  btn-primary submitRegExp" type="submit" mat-button>Проверить</button>
      </form>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Условия</h3>
        <div *ngIf="task?.matchStrings?.length > 0">
          <h6>Найти строки:</h6>
          <p>{{task.matchStrings | join:','}}</p>
        </div>

        <div *ngIf="task?.excludedStrings?.length > 0">
          <h6>Исключить строки:</h6>
          <p>{{task.excludedStrings | join:','}}</p>
        </div>

        <div *ngIf="task?.requiredSubStrings?.length > 0">
          <h6>Использовать:</h6>
          <p>{{task.requiredSubStrings | join:','}}</p>
        </div>

        <div *ngIf="task?.excludedAnswers?.length > 0">
          <h6>Запрещенные ответы:</h6>
          <p>{{task.excludedAnswers | join:','}}</p>
        </div>
      </div>


      <div class="col-md-4">
        <h3>Полезные ссылки</h3>
        <ul *ngFor="let link of task?.usefulLinks">
          <li><a href={{link.link}}>{{link.description}}</a></li>
        </ul>
      </div>


      <div class="col-md-4">
        <reg-regexp-check-result [resultAnswer]="resultAnswer"></reg-regexp-check-result>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p><a class="btn btn-secondary" [routerLink]="['/course',levelNumber]" authorities="button">« К задачам
          уровня</a></p>
      </div>
      <div class="col-md-4">
        <p><a class="btn btn-secondary" [routerLink]="['/usefulLinks']" authorities="button">Полезные ссылки »</a></p>
      </div>
      <div class="col-md-4">
        <p><a class="btn btn-secondary" (click)="nextTask()" authorities="button" [class.disabled]="existNextTask">Следующая
          задача »</a></p>
      </div>
    </div>


  </div>

</main>



