<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th dick-th>{{ 'reg-course.level' | translate }}</th>
        <th dick-th>{{ 'reg-course.description' | translate }}</th>
        <th dick-th>{{ 'reg-course.status' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let level of levels">
        <td dick-td>
          <a [routerLink]="['/course', level.number]">{{level.number}}</a>
        </td>
        <td dick-td> {{level.description}}</td>
        <td dick-td>{{getSolveText(level.solve)}}</td>
      </tr>
    </tbody>
  </table>

</div>
