div {
  background: #cbcbcb;
}

.dick_th {
  position: relative;
  padding-top: 26px;
  font-size: 12px;
  padding-bottom: 26px;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  height: 80px;
  text-align: center;
}

:host(th) {
  padding: 10px 0;
}

:host(th:last-child) {
  padding-right: 18px;
}

:host(th:first-child) {
  padding-left: -18px;
}

:host(th:last-child .dick_th) {
  border-right: solid 1px gray;
  border-radius: 0 6px 6px 0;
}

:host(th:nth-child(1) .dick_th) {
  border-left: solid 1px gray;
  border-radius: 6px 0 0 6px;
}






:host {
  background: transparent;
}





