<div>
  <nb-card size="large">
    <nb-card-header>
      Login as Guest
    </nb-card-header>
    <nb-card-body>
      <h4>Conditions</h4>
      <ol class="indent-20">
        <li>You may not have to register to log in.</li>
        <li>You can solve all tasks.</li>
        <li>Several users can work under this account at the same time.</li>
        <li>The account is for trial use only, progress can be reset at any time</li>
      </ol>

      <button (click)="loginAsGuest()"  nbButton>Login as Guest</button>

    </nb-card-body>
  </nb-card>
</div>
