<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a
      class="navbar-brand"
      routerLink="/main"
      >RegExpert
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarCollapse"
      >


      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a
            routerLink="/main"
            routerLinkActive="active"
            class="nav-link"
            >{{ 'nav.main' | translate }}
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="/course"
            routerLinkActive="active"
            class="nav-link"
            >{{ 'nav.course' | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="/addTask"
            routerLinkActive="active"
            class="nav-link"
            >{{ 'nav.addTask' | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="usefulLinks"
            routerLinkActive="active"
            class="nav-link"
            >{{ 'nav.usefulLinks' | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="/news"
            routerLinkActive="active"
            class="nav-link"
            >{{ 'nav.news' | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="contact"
            routerLinkActive="active"
            class="nav-link"
            >{{ 'nav.contact' | translate }}
          </a>
        </li>


        <li class="nav-item">
          <a
            routerLink="about"
            routerLinkActive="active"
            class="nav-link"
            >{{ 'nav.about' | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="login"
            routerLinkActive="active"
            class="nav-link"
            >{{ 'nav.login' | translate }}
          </a>
        </li>

      </ul>

    </div>
  </div>
</nav>
