<main class="paddingBottom" authorities="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-8">{{task?.name}}</h1>
      <p>{{task?.description}}</p>
      <form class="form-inline form-control regExpForm" (ngSubmit)="onSubmit()">
        <label for="inputRegExp" class="sr-only">{{ 'reg-task.inputRegExp' | translate }}</label>
        <input type="text"
               id="inputRegExp"
               [(ngModel)]="regExp"
               name="regExp"
               class="form-control-plaintext col-8 regExpInput"
               placeholder="Ответ"
               required="">

        <button class="btn  btn-primary submitRegExp"
                type="submit"
                mat-button> {{ 'reg-task.check' | translate }}
        </button>
      </form>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>{{ 'reg-task.conditions' | translate }}</h3>
        <div *ngIf="task?.matchStrings?.length > 0">
          <h6>{{ 'reg-task.matchStrings' | translate }}:</h6>
          <p>{{task.matchStrings | join:','}}</p>
        </div>

        <div *ngIf="task?.excludedStrings?.length > 0">
          <h6>{{ 'reg-task.excludedStrings' | translate }}:</h6>
          <p>{{task.excludedStrings | join:','}}</p>
        </div>

        <div *ngIf="task?.requiredSubStrings?.length > 0">
          <h6>{{ 'reg-task.requiredSubStrings' | translate }}:</h6>
          <p>{{task.requiredSubStrings | join:','}}</p>
        </div>

        <div *ngIf="task?.excludedAnswers?.length > 0">
          <h6>{{ 'reg-task.excludedAnswers' | translate }}:</h6>
          <p>{{task.excludedAnswers | join:','}}</p>
        </div>
      </div>


      <div class="col-md-4">
        <h3>{{ 'reg-task.usefulLinks' | translate }}</h3>
        <ul *ngFor="let link of task?.usefulLinks">
          <li><a href={{link.link}}>{{link.description}}</a></li>
        </ul>
      </div>


      <div class="col-md-4">
        <reg-regexp-check-result [resultAnswer]="resultAnswer"></reg-regexp-check-result>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>
          <a class="btn btn-secondary"
             [routerLink]="['/course',levelNumber]"
             authorities="button">
            « {{ 'reg-task.inputRegExp' | translate }}
          </a>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <a class="btn btn-secondary"
             [routerLink]="['/usefulLinks']"
             authorities="button">
            {{'reg-task.usefulLinks' | translate }} »
          </a>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <a class="btn btn-secondary"
             (click)="nextTask()"
             authorities="button"
             [class.disabled]="existNextTask">
            {{ 'reg-task.nextTask' | translate }} »
          </a>
        </p>
      </div>
    </div>


  </div>

</main>



