<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link rel="stylesheet" media="screen" th:href="@{/css/common/common.css}">
  <link rel="stylesheet" media="screen" th:href="@{/css/login/login.css}">

</head>
<body>
  <div class="wrapper">

    <form accept-charset="UTF-8"
          action="/v1/sign-in"
          method="post"
          class="form"
          novalidate="novalidate">
      <h1 class="title">
        RegExpert
      </h1>

      <label class="indent-20 form-row">
        <input name="login"
               placeholder="Login"
               class="form-row__input"
               type="text"
               required
               aria-required="true"
               autocomplete="off">
      </label>

      <label class="indent-20 form-row">
        <input name="password"
               placeholder="Password"
               type="password"
               class="form-row__input"
               required
               aria-required="true"
               autocomplete="off">
      </label>

      <div class="form-row">
        <button type="submit">Sign In</button>
        <a class="form-row__link" href="/page/sign-up">Sign Up</a>
        <a class="form-row__link" href="/main">About</a>
      </div>

    </form>

  </div>
</body>
</html>

