### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NGINX ###
/nginx/src/**
/nginx/nginx.dockerfile

### Logs ###
/logs/**


### FRONT-END ###

# compiled output
/front-end/tmp
/front-end/out-tsc
/front-end/build.sh

# dependencies
/front-end/auth/login/node_modules
/front-end/auth/login/node_modules
/front-end/regexp/node_modules


# e2e
/front-end/e2e/*.js
/front-end/e2e/*.map
