<div class="mycustom text-center bg-dark" fxFlex="1 1 auto" fxLayout fxLayoutAlign="center center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column ">

    <main role="main" class="inner cover">
      <h1 class="cover-heading">{{ 'home.welcome-title' | translate }}</h1>
      <p class="lead">{{ 'home.welcome-text' | translate }}
      </p>
      <p class="lead">
        <a routerLink="/about" class="btn btn-lg btn-secondary">{{ 'home.welcome-button' | translate }}</a>
      </p>
    </main>

  </div>

</div>
