<div class="text-center" fxFlex="1 1 auto" fxLayout fxLayoutAlign="center center" >
    <form class="form-signin" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 font-weight-normal">Добро пожаловать</h1>
      <label for="login" class="sr-only">Логин</label>
      <input type="text" id="login" name="login" [(ngModel)]="login" class="form-control"
             placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Пароль</label>
      <input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control"
             placeholder="Password" required="">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
      <button [routerLink]="['/signup']" class="btn btn-lg btn-primary btn-block">Регистрация</button>
    </form>
</div>
