<div>
  <nb-card size="large">
    <nb-card-header>
      Lists
    </nb-card-header>
    <nb-card-body>
      <h4>Ordered List</h4>
      <ol class="mb-5">
        <li>Far far away, behind the word mountains</li>
        <li>Far from the countries Vokalia and Consonantia</li>
        <li>There live the blind texts.</li>
        <li>Right at the coast of the Semantics.</li>
        <li>A small river named Duden flows</li>
      </ol>

      <h4>Unordered List</h4>
      <ul class="mb-5">
        <li>Far far away, behind the word mountains</li>
        <li>Far from the countries Vokalia and Consonantia</li>
        <li>There live the blind texts.</li>
        <li>Right at the coast of the Semantics.</li>
        <li>A small river named Duden flows</li>
      </ul>
    </nb-card-body>
  </nb-card>
</div>
