
<div _ngcontent-rmg-c37="" class="row">
  <div _ngcontent-rmg-c37="" class="col-md-12">
    <nb-card _ngcontent-rmg-c37="" _nghost-rmg-c22="">
      <nb-card-header _ngcontent-rmg-c37=""> Grid System</nb-card-header>
      <nb-card-body _ngcontent-rmg-c37=""><h5 _ngcontent-rmg-c37="" class="grid-h">Stacked to horizontal</h5>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-1">
            <div _ngcontent-rmg-c37="">.col-md-1</div>
          </div>
        </div>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-md-8">
            <div _ngcontent-rmg-c37="">.col-md-8</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-4">
            <div _ngcontent-rmg-c37="">.col-md-4</div>
          </div>
        </div>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-md-4">
            <div _ngcontent-rmg-c37="">.col-md-4</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-4">
            <div _ngcontent-rmg-c37="">.col-md-4</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-4">
            <div _ngcontent-rmg-c37="">.col-md-4</div>
          </div>
        </div>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-md-6">
            <div _ngcontent-rmg-c37="">.col-md-6</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-6">
            <div _ngcontent-rmg-c37="">.col-md-6</div>
          </div>
        </div>
        <h5 _ngcontent-rmg-c37="" class="grid-h">Mobile and desktop</h5>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-12 col-md-8">
            <div _ngcontent-rmg-c37="">.col-12 .col-md-8</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6 col-md-4">
            <div _ngcontent-rmg-c37="">.col-6 .col-md-4</div>
          </div>
        </div>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-6 col-md-4">
            <div _ngcontent-rmg-c37="">.col-6 .col-md-4</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6 col-md-4">
            <div _ngcontent-rmg-c37="">col-6 .col-md-4</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6 col-md-4">
            <div _ngcontent-rmg-c37="">.col-6 .col-md-4</div>
          </div>
        </div>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-6">
            <div _ngcontent-rmg-c37="">.col-6</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6">
            <div _ngcontent-rmg-c37="">.col-6</div>
          </div>
        </div>
        <h5 _ngcontent-rmg-c37="" class="grid-h">Mobile, tablet, desktop</h5>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-12 col-sm-6 col-md-8">
            <div _ngcontent-rmg-c37="">.col-12 .col-sm-6 .col-md-8</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6 col-md-4">
            <div _ngcontent-rmg-c37="">.col-6 .col-md-4</div>
          </div>
        </div>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-6 col-sm-4">
            <div _ngcontent-rmg-c37="">.col-6 .col-sm-4</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6 col-sm-4">
            <div _ngcontent-rmg-c37="">.col-6 .col-sm-4</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6 col-sm-4">
            <div _ngcontent-rmg-c37="">.col-6 .col-sm-4</div>
          </div>
        </div>
        <h5 _ngcontent-rmg-c37="" class="grid-h">Column wrapping</h5>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-9">
            <div _ngcontent-rmg-c37="">.col-9</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-4">
            <div _ngcontent-rmg-c37="">.col-4<br _ngcontent-rmg-c37="">Since 9 + 4 = 13 &gt; 12, this 4-column-wide
              div gets wrapped onto a new line as one contiguous unit.
            </div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6">
            <div _ngcontent-rmg-c37="">.col-6<br _ngcontent-rmg-c37="">Subsequent columns continue along the new line.
            </div>
          </div>
        </div>
        <h5 _ngcontent-rmg-c37="" class="grid-h">Responsive column resets</h5>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-6 col-sm-3">
            <div _ngcontent-rmg-c37="">.col-6 .col-sm-3 <p _ngcontent-rmg-c37="">Resize your viewport or check it out
              on your phone for an example.</p></div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6 col-sm-3">
            <div _ngcontent-rmg-c37="">.col-6 .col-sm-3</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6 col-sm-3">
            <div _ngcontent-rmg-c37="">.col-6 .col-sm-3</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-6 col-sm-3">
            <div _ngcontent-rmg-c37="">.col-6 .col-sm-3</div>
          </div>
        </div>
        <h5 _ngcontent-rmg-c37="" class="grid-h">Offsetting columns</h5>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-md-4">
            <div _ngcontent-rmg-c37="">.col-md-4</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-4 offset-md-4">
            <div _ngcontent-rmg-c37="">.col-md-4 .offset-md-4</div>
          </div>
        </div>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-md-3 offset-md-3">
            <div _ngcontent-rmg-c37="">.col-md-3 .offset-md-3</div>
          </div>
          <div _ngcontent-rmg-c37="" class="col-md-3 offset-md-3">
            <div _ngcontent-rmg-c37="">.col-md-3 .offset-md-3</div>
          </div>
        </div>
        <div _ngcontent-rmg-c37="" class="row show-grid">
          <div _ngcontent-rmg-c37="" class="col-md-6 offset-md-3">
            <div _ngcontent-rmg-c37="">.col-md-6 .offset-md-3</div>
          </div>
        </div>
        <h5 _ngcontent-rmg-c37="" class="grid-h">Grid options</h5>
        <div _ngcontent-rmg-c37="" class="table-responsive">
          <table _ngcontent-rmg-c37="" class="table table-bordered table-striped">
            <thead _ngcontent-rmg-c37="">
              <tr _ngcontent-rmg-c37="">
                <th _ngcontent-rmg-c37=""></th>
                <th _ngcontent-rmg-c37=""> Extra small devices <small _ngcontent-rmg-c37="">Phones (&lt;576px)</small>
                </th>
                <th _ngcontent-rmg-c37=""> Small devices <small _ngcontent-rmg-c37="">Tablets (≥576px)</small></th>
                <th _ngcontent-rmg-c37=""> Medium devices <small _ngcontent-rmg-c37="">Desktops (≥768px)</small></th>
                <th _ngcontent-rmg-c37=""> Large devices <small _ngcontent-rmg-c37="">Desktops (≥992px)</small></th>
                <th _ngcontent-rmg-c37=""> Large devices <small _ngcontent-rmg-c37="">Desktops (≥1200px)</small></th>
              </tr>
            </thead>
            <tbody _ngcontent-rmg-c37="">
              <tr _ngcontent-rmg-c37="">
                <th _ngcontent-rmg-c37="" class="text-nowrap" scope="row">Grid behavior</th>
                <td _ngcontent-rmg-c37="">Horizontal at all times</td>
                <td _ngcontent-rmg-c37="" colspan="4">Collapsed to start, horizontal above breakpoints</td>
              </tr>
              <tr _ngcontent-rmg-c37="">
                <th _ngcontent-rmg-c37="" class="text-nowrap" scope="row">Container width</th>
                <td _ngcontent-rmg-c37="">None (auto)</td>
                <td _ngcontent-rmg-c37="">540px</td>
                <td _ngcontent-rmg-c37="">720px</td>
                <td _ngcontent-rmg-c37="">960px</td>
                <td _ngcontent-rmg-c37="">1140px</td>
              </tr>
              <tr _ngcontent-rmg-c37="">
                <th _ngcontent-rmg-c37="" class="text-nowrap" scope="row">Class prefix</th>
                <td _ngcontent-rmg-c37=""><code _ngcontent-rmg-c37="">.col-</code></td>
                <td _ngcontent-rmg-c37=""><code _ngcontent-rmg-c37="">.col-sm-</code></td>
                <td _ngcontent-rmg-c37=""><code _ngcontent-rmg-c37="">.col-md-</code></td>
                <td _ngcontent-rmg-c37=""><code _ngcontent-rmg-c37="">.col-lg-</code></td>
                <td _ngcontent-rmg-c37=""><code _ngcontent-rmg-c37="">.col-xl-</code></td>
              </tr>
              <tr _ngcontent-rmg-c37="">
                <th _ngcontent-rmg-c37="" class="text-nowrap" scope="row"># of columns</th>
                <td _ngcontent-rmg-c37="" colspan="5">12</td>
              </tr>
              <tr _ngcontent-rmg-c37="">
                <th _ngcontent-rmg-c37="" class="text-nowrap" scope="row">Gutter width</th>
                <td _ngcontent-rmg-c37="" colspan="5">1.875rem / 30px (15px on each side of a column)</td>
              </tr>
              <tr _ngcontent-rmg-c37="">
                <th _ngcontent-rmg-c37="" class="text-nowrap" scope="row">Nestable</th>
                <td _ngcontent-rmg-c37="" colspan="5">Yes</td>
              </tr>
              <tr _ngcontent-rmg-c37="">
                <th _ngcontent-rmg-c37="" class="text-nowrap" scope="row">Offsets</th>
                <td _ngcontent-rmg-c37="" colspan="5">Yes</td>
              </tr>
              <tr _ngcontent-rmg-c37="">
                <th _ngcontent-rmg-c37="" class="text-nowrap" scope="row">Column ordering</th>
                <td _ngcontent-rmg-c37="" colspan="5">Yes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
