<nb-card>
  <nb-card-header>
    <h4>{{task?.title}}</h4>
  </nb-card-header>
  <nb-card-body>
    <p>{{task?.description}}</p>
    <p>Score Bonus: {{task?.score}}</p>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header class="condition-column">
    <h5>Conditions</h5>
    <nb-checkbox *ngFor="let conditionResult of conditions?.specialConditions"
                 [checked]="conditionResult.result"
                 disabled>{{conditionResult.condition}}
    </nb-checkbox>
  </nb-card-header>
  <nb-card-body>


    <div class="row show-grid">
      <div class="condition-column col-md-3 col-sm-12">
        <h5 class="grid-h">Find Strings</h5>
        <p *ngIf="conditions?.matchedStrings?.length == 0">No Conditions</p>

        <nb-checkbox *ngFor="let conditionResult of conditions?.matchedStrings"
                     [checked]="conditionResult.result"
                     disabled>{{conditionResult.condition}}
        </nb-checkbox>


      </div>

      <div class="condition-column col-md-3 col-sm-12">
        <h5 class="grid-h">Exclude Strings</h5>
        <p *ngIf="conditions?.excludedStrings?.length == 0">No Conditions</p>

        <nb-checkbox *ngFor="let conditionResult of conditions?.excludedStrings"
                     [checked]="conditionResult.result"
                     disabled>{{conditionResult.condition}}
        </nb-checkbox>

      </div>

      <div class="condition-column col-md-3 col-sm-12">
        <h5 class="grid-h">Required Substring</h5>
        <p *ngIf="conditions?.requiredSubStrings?.length == 0">No Conditions</p>

        <nb-checkbox *ngFor="let conditionResult of conditions?.requiredSubStrings"
                     [checked]="conditionResult.result"
                     disabled>{{conditionResult.condition}}
        </nb-checkbox>

      </div>

      <div class="condition-column col-md-3 col-sm-12">
        <h5 class="grid-h">Excluded Answers</h5>
        <p *ngIf="conditions?.excludedAnswers?.length == 0">No Conditions</p>
        <nb-checkbox *ngFor="let conditionResult of conditions?.excludedAnswers" [checked]="conditionResult.result"
                     disabled>{{conditionResult.condition}}
        </nb-checkbox>
      </div>
    </div>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header *ngIf="!success">Answer</nb-card-header>
  <nb-card-header *ngIf="success">Good Answer</nb-card-header>
  <nb-card-body>
    <textarea class="indent-10"
              [(ngModel)]="answer"
              (ngModelChange)="answerChange()"
              rows="5"
              nbInput
              fullWidth
              shape="round"
              placeholder="Text Area">

    </textarea>
    <button *ngIf="success && !registerAnswer" (click)="regsiterAnswer()" nbButton>Submit</button>
    <a *ngIf="success && registerAnswer" [routerLink]="'/course/'+levelNumber" nbButton>Go</a>
  </nb-card-body>
</nb-card>

