<nb-card>
  <nb-card-header>
    <h4>{{task?.title}}</h4>
  </nb-card-header>
  <nb-card-body>
    <p>{{task?.description}}</p>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Conditions</nb-card-header>
  <nb-card-body>

    <!--<div *ngIf="condition; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Content to render when condition is true.</ng-template>
<ng-template #elseBlock>Content to render when condition is false.</ng-template>-->


    <div class="row show-grid">
      <div class="condition-column col-md-3 col-sm-12">
        <h5 class="grid-h">Find Strings</h5>
        <p *ngIf="task?.matchedStrings.length == 0">No Conditions</p>

          <nb-checkbox *ngFor="let conditionResult of conditions?.matchedStrings"
                       [checked]="conditionResult.result"
                       disabled>{{conditionResult.condition}}</nb-checkbox>


      </div>

      <div class="condition-column col-md-3 col-sm-12">
        <h5 class="grid-h">Exclude Strings</h5>
        <p *ngIf="task?.excludedStrings.length == 0">No Conditions</p>

          <nb-checkbox *ngFor="let conditionResult of conditions?.excludedStrings"
                       [checked]="conditionResult.result"
                       disabled>{{conditionResult.condition}}
          </nb-checkbox>

      </div>

      <div class="condition-column col-md-3 col-sm-12">
        <h5 class="grid-h">Required Substring</h5>
        <p *ngIf="task?.requiredSubStrings.length == 0">No Conditions</p>

          <nb-checkbox *ngFor="let conditionResult of conditions?.requiredSubStrings"
                       [checked]="conditionResult.result"
                       disabled>{{conditionResult.condition}}
          </nb-checkbox>

      </div>

      <div class="condition-column col-md-3 col-sm-12">
        <h5 class="grid-h">Excluded Answers</h5>
        <p *ngIf="task?.excludedAnswers.length == 0">No Conditions</p>
          <nb-checkbox *ngFor="let conditionResult of conditions?.excludedAnswers" [value]="conditionResult.result"
                       disabled>{{conditionResult.condition}}
          </nb-checkbox>
      </div>
    </div>

  </nb-card-body>
</nb-card>

<nb-card class="row show-grid">
  <nb-card-header>Answer</nb-card-header>
  <nb-card-body>
    <textarea class="indent-10"
              [(ngModel)]="answer"
              (ngModelChange)="answerChange()"
              rows="5"
              nbInput
              fullWidth
              shape="round"
              placeholder="Text Area">

    </textarea>
    <button type="submit" nbButton>Submit</button>
  </nb-card-body>
</nb-card>

