<main class="paddingBottom" role="main">
  <form (ngSubmit)="onSubmit()">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h1 class="display-8">{{ 'add-task.title' | translate }}</h1>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success btn-lg btn-block" type="submit">{{ 'add-task.submit' | translate }}</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 form-control regExpForm">
            <label for="name" class="sr-only">{{ 'add-task.taskName' | translate }}</label>
            <input type="text"
                   id="name"
                   [(ngModel)]="name"
                   name="name"
                   class="form-control-plaintext col-12 regExpInput"
                   placeholder="Название"
                   style="margin-bottom: 20px"
                   required>

            <label for="description" class="sr-only">{{ 'add-task.answer' | translate }}</label>
            <input type="text"
                   id="answer"
                   [(ngModel)]="answer"
                   name="name"
                   class="form-control-plaintext col-12 regExpInput"
                   placeholder="Ответ"
                   style="margin-bottom: 20px"
                   required>

            <label for="description" class="sr-only">{{ 'add-task.taskDescription' | translate }}</label>
            <textarea id="description"
                      class="form-control-plaintext col-12 regExpInput"
                      [(ngModel)]="description"
                      name="description"
                      style="margin-bottom: 20px"
                      placeholder="Описание">
          </textarea>


          </div>
          <div class="col-md-5">
            <reg-regexp-check-result [resultAnswer]="resultAnswer"></reg-regexp-check-result>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>{{ 'add-task.search' | translate }}</h3>
        </div>

        <div class="col-md-3">
          <h3>{{ 'add-task.exclude' | translate }}</h3>
        </div>

        <div class="col-md-3">
          <h3>{{ 'add-task.use' | translate }}</h3>
        </div>

        <div class="col-md-3">
          <h3>{{ 'add-task.useSolution' | translate }}</h3>
        </div>

      </div>

      <div class="row">
        <div class="col-md-3">
          <section *ngFor="let item of matchStrings" class="example-section">
            <mat-checkbox class="example-margin" (click)="deleteCondition(item, matchStrings)" [checked]="true">
              {{item}}
            </mat-checkbox>
          </section>
        </div>
        <div class="col-md-3">

          <section *ngFor="let item of excludedStrings" class="example-section">
            <mat-checkbox class="example-margin" (click)="deleteCondition(item, excludedStrings)" [checked]="true">
              {{item}}
            </mat-checkbox>
          </section>
        </div>


        <div class="col-md-3">

          <section *ngFor="let item of requiredSubStrings" class="example-section">
            <mat-checkbox class="example-margin" (click)="deleteCondition(item, requiredSubStrings)" [checked]="true">
              {{item}}
            </mat-checkbox>
          </section>

        </div>

        <div class="col-md-3">

          <section *ngFor="let item of excludedAnswers" class="example-section">
            <mat-checkbox class="example-margin" (click)="deleteCondition(item, excludedAnswers)" [checked]="true">
              {{item}}
            </mat-checkbox>
          </section>

        </div>
      </div>

      <div class="row">
        <div class=" col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="matchString" name="matchString">
          </mat-form-field>
          <p>
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addMatchString()" role="button">
               {{ 'add-task.add' | translate }}
            </button>
          </p>
        </div>
        <div class=" col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="excludedString" name="excludedString">
          </mat-form-field>
          <p>
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addExcludedString()" role="button">
              {{ 'add-task.add' | translate }}
            </button>
          </p>
        </div>
        <div class=" col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="requiredSubString" name="requiredSubString">
          </mat-form-field>
          <p>
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addRequiredSubString()"
                    role="button">
              {{ 'add-task.add' | translate }}
            </button>
          </p>
        </div>
        <div class=" col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput [(ngModel)]="excludedAnswer" name="excludedAnswer">
          </mat-form-field>
          <p>
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addExcludedAnswer()" role="button">
              {{ 'add-task.add' | translate }}
            </button>
          </p>
        </div>

      </div>
    </div>
  </form>

</main>



