<main class="paddingBottom" role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-8">Добавление задачи</h1>
      <form class="form-inline form-control regExpForm" (ngSubmit)="onSubmit()">
        <label for="name" class="sr-only">Название</label>
        <input type="text"
               id="name"
               [(ngModel)]="regExp"
               name="regExp"
               class="form-control-plaintext col-8 regExpInput"
               placeholder="Название"
               required="">
        <label for="description" class="sr-only">Введите описание задачи</label>
        <textarea id="description"
                  class="form-control-plaintext col-8 regExpInput"
                  placeholder="Описание"></textarea>

      </form>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Найти</h3>
      </div>
      <div class="col-md-3">
        <h3>Исключить</h3>
      </div>


      <div class="col-md-3">
        <h3>Использовать</h3>

        </div>

      <div class="col-md-3">
        <h3>Не должно совпадать</h3>

        </div>


      </div>

    <div class="row">
      <div class="offset-9 col-md-3">
        <p><a class="btn btn-primary btn-lg btn-block"  [routerLink]="['/course',level]" role="button">Готово</a></p>
      </div>
    </div>

  </div>


</main>



