worker_processes  2;

events {
    worker_connections  1024;
}

http {
    include       mime.types;

    server {
        listen       8880;
        server_name  127.0.0.1;


        location ~ /v1 {
            proxy_pass 'http://app:8080';
        }

        location ^~ /regexp {
            alias /usr/share/nginx/html/regexp/;
            try_files $uri$args $uri$args/ /regexp/index.html;
        }

        location ^~ /login {
            alias /usr/share/nginx/html/login/;
            try_files $uri$args $uri$args/ /login/index.html;
        }

        location ^~ /sign-up {
            alias /usr/share/nginx/html/sign-up/;
            try_files $uri$args $uri$args/ /sign-up/index.html;
        }

        location ~ / {
            alias /usr/share/nginx/html/landing/;
            try_files $uri$args $uri$args/ /index.html;
        }


    }
}
