
.bounds {
  background-color: #ddd;
  height: 400px;
}

.router-flex {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

div.root-component router-outlet.root-router + * {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

/*.footer-wrapper {*/
  /*background: #343a40;*/
  /*margin: 0;*/
/*}*/


