footer.footer {

  width: 100%;
  min-height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  color: white;
}

.bounds {
  background-color: #ddd;
  height: 400px;
}

.router-flex {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
