<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>

  <link rel="stylesheet" media="screen" th:href="@{/css/common/common.css}">
  <link rel="stylesheet" media="screen" th:href="@{/css/login/login.css}">

</head>
<body>
  <div class="wrapper">

    <form accept-charset="UTF-8"
          action="/page/users/user"
          method="post"
          class="form"
          novalidate="novalidate">
      <h1 class="title">
        RegExpert
      </h1>

      <label class="indent-20 form-row">
        <input name="name"
               placeholder="Name"
               class="form-row__input"
               type="text"
               required
               aria-required="true"
               autocomplete="off">
      </label>

      <label class="indent-20 form-row">
        <input name="login"
               placeholder="Login"
               class="form-row__input"
               type="text"
               required
               aria-required="true"
               autocomplete="off">
      </label>
      <label class="indent-20 form-row">
        <input name="email"
               placeholder="Email"
               class="form-row__input"
               type="email"
               required
               aria-required="true"
               autocomplete="off">
      </label>

      <label class="indent-20 form-row">
        <input name="password"
               placeholder="Password"
               type="password"
               class="form-row__input"
               required
               aria-required="true"
               autocomplete="off">
      </label>

      <label class="indent-20 form-row">
        <input name="passwordRepeat"
               placeholder="Repeat Password"
               type="password"
               class="form-row__input"
               required
               aria-required="true"
               autocomplete="off">
      </label>

      <div class="form-row">
        <button type="submit">Sign Up</button>
        <a class="form-row__link" href="/page/login">Login</a>
        <a class="form-row__link" href="/main">About</a>
      </div>

    </form>

  </div>

  <script th:src="@{/js/lib/axios/axios.min.js}"></script>
</body>
</html>

