<div class="accordions-container row">

  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">

    <nb-accordion multi *ngFor="let level of levels">
      <nb-accordion-item>
        <nb-accordion-item-header class="title-row">
          <div class="title">
            <nb-action class="title-button"
                       [link]="'/course/'+level.number"
                       [icon]="level.solve? 'checkmark-square-outline' : 'menu-outline'">
            </nb-action>


            <span class="title-number">{{level.number}}. Level</span>
          </div>
          <div class="score">Score: {{level.score}}</div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          {{level.description}}
        </nb-accordion-item-body>
      </nb-accordion-item>

    </nb-accordion>

  </div>
</div>
