.score {
    padding-right: 20px;
}

.title-row {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
}

.title-button {
    margin-bottom: -3px;
}

.title-number {
    padding-left: 15px;

}


