<div>
  <nb-card size="large">
    <nb-card-header>
      Theory
    </nb-card-header>
    <nb-card-body>

      <h4>Simple Word</h4>
      <p>In the simplest case, a regular expression can be a copy of the required word</p>

      <h4>Character Range</h4>
      <p>
        Character range is indicated in [], the number of these characters can be specified
        in {{'{}'}}.
        For Example:
        [1-9]{{'{3}'}} => 111, 123, 957 ... only 3 symbols.
        [0-9,z]{{'{2}'}} => 02, 5z, zt ... only 2 symbols.
        [1-9,z] => 1, 5, z ... only 1 symbol.
        [1-9,z]{{'{2,}'}} => 11, 5234, z234 ... at least 2 symbols.

        Symbol * means infinity number of times.
        For Example: [a-z]* => a, az, abc, asdfoiu.
      </p>


    </nb-card-body>

  </nb-card>
</div>
